html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
	background: url('../img/congruent.png');
	margin: 0;

	padding: 50px;
	font-size: 32px;
	font-weight: bold;
	color: #bada55;
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
}

progress {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.hint {
    position: absolute;
    bottom: 0.25em;
    right: 1em;
}